schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="utilisateur">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:positiveInteger"/>
                <xs:element name="nom" type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
                <xs:element name="prenom" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

<!--<utilisateur>-->
<!--    <id>1</id>-->
<!--    <nom>Alice</nom>-->
<!--    <email>alice@example.com</email>-->
<!--    <prenom>Alice</email>-->
<!--</utilisateur>-->
